<%= content_for :head do %>
    <style>
        html, body {
            height: 100%;
            margin: 0px;
        }
    </style>
<% end %>


<div class="full-hallway">

    <div class="floor-container">
        <% if @level == Level.first %>
            <h3>First Floor</h3>
        <% elsif @level == Level.second %>
            <h3>Second Floor</h3>
        <% else%>
            <h3>Third Floor</h3>
        <% end%>
    </div>

    <div class="move">
        <% if @level == Level.first %>
            <%= link_to 'Move Up a Floor', hallway_two_path %>
        <% elsif @level == Level.second %>
            <%= link_to 'Move Down a Floor', hallway_one_path %> || 
            <%= link_to 'Move Up a Floor', hallway_three_path %>
        <% else%>
            <%= link_to 'Move Down a Floor', hallway_two_path %>
        <% end%><br><br><br><br><br><br><br>
    </div>

    <div class="rooms-container">
        <% @level.rooms.each do |room| %>
            <%= link_to room.name, room_path(room) %>
        <% end %>
    </div>
<br><br><br><br><br><br><br><br><br><br><br><br>
        <p class="move"><%= link_to '~Log Out~', logout_path, method: :delete %></p>


</div>
