<h1>Replace the <%= @room.room_items.order(:updated_at).last.item.name %></h1>

<%= form_for :room_item, url: room_path(@room), method: :patch do |f| %>

<%= f.label "Choose Item to Replace it" %>
<%= f.collection_select :item_id, @items, :id, :name %>
<%= f.hidden_field :room_id, value: session[:last_room_id] %>
<%= f.submit "Send to #{@previous_room.name}"%>

<% end%>