<h1>You're in the <%= @room.name %></h1>


<% @room.room_items.each do |room_item| %>
    <%= link_to room_item.item.name, room_item_path(room_item) %><br>
<% end %>

<% if @level == Level.first %>
    <%= link_to 'Back to Hallway', hallway_one_path %>
<% elsif @level == Level.second %>
    <%= link_to 'Back to Hallway', hallway_two_path %>
<% else%>
    <%= link_to 'Back to Hallway', hallway_three_path %>
<% end%>

<%= image_tag(@room.artwork_path)%> 