<%= content_for :head do %>
    <style>
        html, body {
            height: 100%;
            margin: 0px;
        }
    </style>
<% end %>

<div class="img-fill" style="background-image: url('/assets/<%= @room.artwork_path %>'); background-size: 80%; background-position: center; background-repeat: no-repeat; cover; height: 100%">


<% @room.room_items.each do |room_item| %>
    <%= link_to image_tag("/assets/#{room_item.item.image_path}"), room_item_path(room_item)%>
<% end %>

<% if @level == Level.first %>
    <%= link_to 'Back to Hallway', hallway_one_path %>
<% elsif @level == Level.second %>
    <%= link_to 'Back to Hallway', hallway_two_path %>
<% else%>
    <%= link_to 'Back to Hallway', hallway_three_path %>
<% end%>
</div>