<%= content_for :head do %>
    <style>
        html, body {
            height: 100%;
            margin: 0px;
        }
    </style>
<% end %>

    <div class="img-fill" style="background-image: url('/assets/<%= @room.artwork_path %>'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100%;">

<div class="room-grid">

        <% @room.room_items.each do |room_item| %>
    <div class="item-on-grid">
            <%= link_to image_tag("/assets/#{room_item.item.image_path}", class: "item-image"), room_item_path(room_item)%>
    </div>
        <% end %>



</div>

<div class="back-button">
        <% if @level == Level.first %>
            <%= link_to 'Back to Hallway', hallway_one_path %>
        <% elsif @level == Level.second %>
            <%= link_to 'Back to Hallway', hallway_two_path %>
        <% else%>
            <%= link_to 'Back to Hallway', hallway_three_path %>
        <% end%>
</div>